@import './animations';

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

:root,
.light,
.light-theme {
  --color-page-background: rgb(248, 248, 248) !important;
}
.dark,
.dark-theme {
  --color-page-background: var(--slate-1) !important;
}
